@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient( #f0ac62, #ebf8e1, #57a5c6);
}


#root {
    min-height: 100vh;
    position: relative;
    padding-bottom:200px;
}
