@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient( #59a2c2, #ebf8e1, #f0ac62);
}


#root {
    min-height: 100vh;
    position: relative;
    padding-bottom:200px;
}
